body {
  padding: 0px;
  margin: 0px;
  font-family: "DM Sans";
}

button {
  border: 0px;
  font-family: inherit;
  border-radius: 5px;
  cursor: pointer;
  background: #428af5;
}

input {
  font-family: inherit;
  background: #ffffff;
  border: 1px solid #f1f1f1;
}
